{%extends 'basic.html'%}
{%block title%} Create New Blog Post {%endblock%}
{%block body%}
{%if user.is_authenticated%}
<h1> ADD POST...</h1>
<br /> <br />
<div class="form-group">
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <button class="btn btn-secondary">post</button>
</div>
<script>
    var name="{{user.id}}";
    document.getElementById("elder").value=name;
</script>
{%else%}
You're not allowed here!!!
{%endif%}
{%endblock%}